<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Search Good Catches</title>
</head>
<body>
  <div class="background-image">
    <div class="form-container">
      <h1>Search Good Catches</h1>
      
      <form method="GET" action="/goodCatch/search">
        <label for="site">Site:</label>
        <select id="site" name="site">
          <option value="">All Sites</option>
          <% companySites.forEach(site => { %>
            <option value="<%= site %>"><%= site %></option>
          <% }); %>
        </select>

        <label for="department">Department:</label>
        <select id="department" name="department">
          <option value="">All Departments</option>
          <% corpDepartments.forEach(department => { %>
            <option value="<%= department %>"><%= department %></option>
          <% }); %>
        </select>

        <label for="category">Event Category:</label>
        <select id="category" name="category">
          <option value="">All Categories</option>
          <% eventCategories.forEach(category => { %>
            <option value="<%= category %>"><%= category %></option>
          <% }); %>
        </select>

        <button type="submit">Search</button>
      </form>

      <% if (hasQueryParameters) { %>
        <h2>Results:</h2>
        <% if (goodCatches.length > 0) { %>
          <ul>
            <% goodCatches.forEach(function(gc) { %>
              <li>
                <strong>ID:</strong> <%= gc._id %> <br />
                <strong>Site:</strong> <%= gc.site %> <br />
                <strong>Department:</strong> <%= gc.department %> <br />
                <% gc.events.forEach(function(event) { %>
                  <strong>Event:</strong> <%= event.event %> <br />
                  <strong>Description:</strong> <%= event.description %> <br />
                <% }); %>
                <a href="/goodCatch/updateCatch/<%= gc._id %>">Update Record</a>
              </li>
            <% }); %>
          </ul>
        <% } else { %>
          <p>No good catches found.</p>
        <% } %>
      <% } %>
      <form action="/">
        <button type="submit" class="returnHome">Return to Home</button>
      </form>
    </div>
  </div>
</body>
</html>
